.blog-article {
    border-bottom: 2px solid $color-grey-darker;
    padding-bottom: 3em;

    &:last-of-type {
        border-bottom: 0;
    }
}

.blog-article-header-link {
    color: currentColor;
    display: block;
}

.blog-article-heading {
    font-size: 250%;
    width: 100%;

    .blog-featured-image & {
        text-shadow: 0 0 5px rgba(0, 0, 0, 1);
    }
}

.blog-article-meta {
    margin: 1em 0;
}
