.block-section {
    background-color: $color-white;

    &:nth-of-type(odd) {
        background-color: $color-grey-lighter;
    }
}

.block-section.mod-colored {
    background-color: $color-secondary;
    color: $color-white;
}

.block-section-inner {
    margin: 0 auto;
}
