.button {
    background: $color-tertiary;
    border: none;
    color: $color-white;
    cursor: pointer;
    display: inline-block;
    font-size: 100%;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .1s ease-out;
    width: 100%;

    &:focus,
    &:hover {
        background: $color-tertiary-dark;
        color: $color-white;
    }

    &:active {
        color: currentColor;
        transform: scale(1.02);
    }

    @include tablet {
        width: auto;
    }
}

.button.mod-large {
    @include laptop {
        font-size: 130%;
    }
}

.button.mod-full-width {
    width: 100%;
}

.button-group {
    margin: 1.5em 0;
}

.button-group.mod-centered {
    text-align: center;
}

.button-group > .button {
    margin-bottom: 0.5em;

    &:last-of-type {
        margin-bottom: 0;
    }
}
