.employee {
    overflow: auto;
    padding-bottom: 30px;
}

.employee-image {
    background: no-repeat center center;
    background-size: contain;
    padding-bottom: 100%;

    @include laptop {
        padding-bottom: 33%;
        margin-right: 1em;
        margin-bottom: 1em;
        float: left;
        width: 33%;
    }
}

.employee-meta {
    list-style: none;
}

.employee-meta-item {
    display: inline;
    padding-right: 1em;
}
