.entrances {
    @include clearfix();
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;

    @include laptop {
        flex-direction: row;
    }
}

.entrance {
    background: center center no-repeat;
    background-size: cover;
    color: white;
    flex-basis: 0;
    flex-grow: 1;
    font-size: 2em;
    min-width: 30%;
    padding: 0.5em;

    @include laptop {
        margin: 0.5em;
    }
}

.entrance-link {
    align-items: center;
    color: $color-white;
    display: flex;
    height: 200px;
    justify-content: center;
    padding: 1em;
    transition: background-color .1s ease-out;
    width: 100%;

    &:focus,
    &:hover {
        color: currentColor;
    }
}

.entrance-text {
    margin: 0;
    text-align: center;
    text-shadow: 0 0 10px transparentize($color-black, 0.5);
}
