.page-title {
    display: block;
    font-size: 250%;
    width: 100%;

    @include laptop {
        font-size: 350%;
    }
}

.featured-image {
    align-items: flex-end;
    background: center center no-repeat;
    background-size: cover;
    color: $color-white;
    display: flex;
    height: 50vh;
    text-shadow: 0 0 10px transparentize($color-black, 0.5);
}

.featured-image .page-title {

}
