.site-header {
    background-color: $color-primary;
    padding: 1em 0;
}

.site-header-logo {
    display: block;
    fill: white;
    margin: 0 auto;
    width: 50px;

    @include laptop {
        margin: 0;
        width: 100px;
    }
}
