a {
    color: $color-primary;
    text-decoration: none;
    transition: color .1s ease-out;
}

a:focus,
a:hover {
    color: $color-secondary;
}

.hero {
    font-size: 200%;
    font-weight: bolder;
    margin: 0;

    @include laptop {
        font-size: 250%;
    }
}

.lead {
    font-size: 125%;
    font-weight: 300;
}
