// Colors
$color-primary: #0375BE; // light blue
$color-secondary: #01385B; // dark blue
$color-tertiary: #34BE68; // green

$color-white: #F2F2F0; // off-white
$color-grey: #787878; // grey
$color-grey-darkest: #222222; // almost black
