// Colors
$color-primary: #3498db; // light blue
$color-primary-dark: #2980b9;

$color-secondary: #34495e; // dark blue
$color-secondary-dark: #2c3e50;

$color-tertiary: #40d47e; // green
$color-tertiary-dark: #27ae60;

$color-white: #fff;
$color-grey-lighter: #F4F6F9;
$color-grey-light: #E5E7E9;
$color-grey: #8A9097;
$color-grey-dark: #5E6265;
$color-grey-darker: #4D5256;
$color-black: #000;
